<h3>09 - Hover Exclude Gaps</h3>
<p>When hovering over an image, make all images have an opacity of 0.5. When hovering in the gaps between the images, the opacity of all images should be 1</p>

<section>
  <div class="grid-container">
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 1">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 3">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 4">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 7">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 8">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
  </div>
</section>
