@mixin hide-text-overflow($overflow-style) {
  text-overflow: $overflow-style;
  overflow: hidden;
  white-space: nowrap;
}

.overflow-container {
  width: 50%;
  border: 2px solid purple;

  .first-paragraph {
    @include hide-text-overflow(ellipsis);
  }

  .second-paragraph {
    @include hide-text-overflow(clip);
  }
}































/* Solution */

//@mixin hide-text-overflow($overflow-style) {
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: $overflow-style;
//}
//
//.overflow-container {
//  width: 50%;
//  border: 2px solid purple;
//
//  .first-paragraph {
//    @include hide-text-overflow(ellipsis)
//  }
//
//  .second-paragraph {
//    @include hide-text-overflow(clip)
//  }
//}
