.container {
  max-width: 600px;
  min-width: 200px;
  height: 200px;
  border: 5px solid red;
  padding: 40px;
}

.parent {
  width: 70%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  border: 5px solid blueviolet;
}

.child {
  align-self: center;
  width: 30px;
  height: 30px;
  border: 5px solid green;
  background-color: rgba(0, 128, 0, .5);
}

.first {
  border: 5px solid orange;
  background-color: rgba(255, 165, 0, .5);
}

.second {
  border: 5px solid deeppink;
  background-color: rgba(255, 20, 147, .5);
}























/* Solutions */

/*.container {*/
/*  position: relative;*/
/*  max-width: 600px;*/
/*  min-width: 200px;*/
/*  height: 200px;*/
/*  border: 5px solid red;*/
/*  padding: 40px;*/
/*}*/

/*.parent {*/
/*  width: 70%;*/
/*  height: 80%;*/
/*  padding: 20px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 10px;*/
/*  overflow: auto;*/
/*  border: 5px solid blueviolet;*/
/*}*/

/*.child {*/
/*  align-self: center;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  border: 5px solid green;*/
/*  background-color: rgba(0, 128, 0, .5);*/
/*}*/

/*.first {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  border: 5px solid orange;*/
/*  background-color: rgba(255, 165, 0, .5);*/
/*}*/

/*.second {*/
/*  position: sticky;*/
/*  top: 0;*/
/*  border: 5px solid deeppink;*/
/*  background-color: rgba(255, 20, 147, .5);*/
/*}*/
