<h3>04 - Positions - Scrollable Elements</h3>

<p>Move the <strong>yellow</strong> block to the top right corner of the container element</p>
<p>Make the <strong>pink</strong> block stay in position even when the text is scrolled</p>


<strong>Container</strong>
<div class="container">
  <strong>Scrollable - Parent</strong>
  <div class="parent">
    <div class="child first">1</div>
    <div class="child second">2</div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis lectus lobortis turpis eleifend tempus. Nullam ultricies, nisi eget dictum porta, est enim imperdiet risus, sed fermentum eros ex quis leo. Nullam eget ex metus. Suspendisse venenatis purus et felis consequat auctor. Nam ut nisi et lectus convallis tincidunt. Aliquam erat volutpat. Integer eget nibh sit amet nisi auctor porta.

      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam fringilla risus a pulvinar ullamcorper. Proin ultricies tortor id nunc maximus, vel egestas ipsum rutrum. Donec non odio bibendum, dictum urna ut, convallis justo. Quisque iaculis dapibus dapibus. Proin interdum, ex ac congue dictum, massa nisl mattis turpis, bibendum laoreet nunc ante sit amet magna. Suspendisse eleifend felis at velit auctor, id pulvinar nisl interdum. Duis non massa molestie turpis tempus mattis. Donec dictum malesuada sem, nec varius elit sagittis a. Donec rutrum nisl a nisi auctor placerat.</p>
  </div>
</div>
