




































/* Solution */

/*.text {*/
/*  font-size: 25px;*/
/*}*/

/*#highlight {*/
/*  background-color: yellow;*/
/*}*/

/*p {*/
/*  border: solid 2px black;*/
/*}*/

/** {*/
/*  color: green;*/
/*}*/
