:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .title {
    background-color: #404040;
    color: white;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    padding-left: 10px;

    h1 {
      margin-bottom: 10px;
      font-weight: 900;
      font-size: 48px;
    }
  }

  .content {
    padding: 10px;
    flex: 1;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
