.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}




































/* Solution */

/*.grid-container:has(img:hover) img {*/
/*  opacity: .5;*/
/*}*/
