
















































/* Solution */

/*ol li:nth-child(even) {*/
/*  background-color: lightgray;*/
/*}*/

/* OR */

/*ol li:nth-child(2n) {*/
/*  background-color: lightgray;*/
/*}*/
