.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}




































/* Solution */

/*.grid-item:has(img[alt="avatar"]) {*/
/*  border: 2px solid red;*/
/*}*/
