$gap: 20px;

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  gap: $gap;
  align-items: center;
  border: 2px solid darkviolet;


  .flex-item {
    box-sizing: border-box;
    height: 150px;
    border: 2px solid darkgoldenrod;
    width: calc(50% - 10px);
  }
}

.grid-container {
  display: grid;
  width: 80%;
  padding: 20px;
  gap: $gap;
  border: 2px solid saddlebrown;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;

  .grid-item {
    border: 2px solid darkcyan;
  }
}
















































































/* Solution */

//@mixin flex-item-width($itemsAmount, $gap) {
//  $flex-item-width: 100% / $itemsAmount;
//  $flex-gaps: $itemsAmount - 1;
//  $total-gap: $flex-gaps * $gap;
//  $offset: $total-gap / $itemsAmount;
//
//  width: calc($flex-item-width - $offset);
//}
//
//.flex-container {
//  display: flex;
//  flex-wrap: wrap;
//  width: 80%;
//  padding: 20px;
//  gap: $gap;
//  align-items: center;
//  border: 2px solid darkviolet;
//
//  .flex-item {
//    box-sizing: border-box;
//    height: 150px;
//    border: 2px solid darkgoldenrod;
//
//    @include flex-item-width(1, $gap);
//
//    @media screen and (min-width: 768px) {
//      @include flex-item-width(2, $gap);
//    }
//
//    @media screen and (min-width: 1024px) {
//      @include flex-item-width(3, $gap);
//    }
//
//    @media screen and (min-width: 1280px) {
//      @include flex-item-width(4, $gap);
//    }
//  }
//}
//
//.grid-container {
//  display: grid;
//  width: 80%;
//  padding: 20px;
//  gap: $gap;
//  border: 2px solid saddlebrown;
//  grid-auto-rows: 150px;
//  grid-template-columns: repeat(1, 1fr);
//
//  @media screen and (min-width: 768px) {
//    grid-template-columns: repeat(2, 1fr);
//  }
//
//  @media screen and (min-width: 1024px) {
//    grid-template-columns: repeat(3, 1fr);
//  }
//
//  .grid-item {
//    border: 2px solid darkcyan;
//  }
//}
