<h3>04 - External Link Suffix</h3>
<p>Add a suffix <code>↗</code> for all links a that have a <code>.external-link</code> class applied</p>
<br/>

<section>
  <h6>Some Links</h6>
  <div>
    <a href="https://google.com" class="external-link">External Link 1</a>
  </div>
  <div>
    <a href="">Internal Link</a>
  </div>
  <div>
    <a href="https://google.com" class="external-link">External Link 2</a>
  </div>
  <div>
    <a href="https://google.com" class="external-link">External Link 3</a>
  </div>
</section>
