<h3>05 - List Size</h3>
<p>All lists have a font-size of 16px. Using <code>:has()</code>, make lists with 5 or more entries font-size 14px and the ones if 8 or more entries 10px</p>

<section>
  <ol>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
    <li>Fourth Item</li>
  </ol>
  <ol>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
    <li>Fourth Item</li>
    <li>Fifth Item</li>
    <li>Sixth Item</li>
    <li>Seventh Item</li>
  </ol>
  <ol>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
    <li>Fourth Item</li>
    <li>Fifth Item</li>
    <li>Sixth Item</li>
    <li>Seventh Item</li>
    <li>Eighth Item</li>
    <li>Ninth Item</li>
  </ol>
</section>
