ol {
  font-size: 16px;
}














































/* Solution */

/*ol:has(li:nth-child(5)) {*/
/*  font-size: 14px;*/
/*}*/

/*ol:has(li:nth-child(8)) {*/
/*  font-size: 10px;*/
/*}*/
