<h3>07 - Image Alt Text</h3>
<p>Make all images have a border red if they have an alt text "avatar"</p>

<section>
  <div class="grid-container">
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 1">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 3">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 4">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 7">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="Placeholder Image 8">
    </div>
    <div class="grid-item">
      <img src="https://picsum.photos/200" alt="avatar">
    </div>
  </div>
</section>
