<h3>02 - Partial Forwarding</h3>
<p>
  Create a <code>_variables.scss</code> for all variables<br/>
  Create a <code>_mixins.scss</code> for all mixins<br/>
  Create a <code>_functions.scss</code> for all functions<br/>
  Create a <code>_card.scss</code> where you forward <code>_variables.scss</code>, <code>_mixins.scss</code> and <code>_functions.scss</code> so that the component only has to import <strong>one</strong> partial file
</p>
<br/>

<section>
  <div class="card-container">
    <div class="card">
      <h2 class="card-title">Card 1</h2>
      <p class="card-text">This is the first card. It has a slightly raised shadow effect.</p>
    </div>
    <div class="card">
      <h2 class="card-title">Card 2</h2>
      <p class="card-text">This is the second card. It also has a shadow effect.</p>
    </div>
  </div>

  <footer class="footer">
    <p>Footer content &copy; 2024</p>
  </footer>
</section>
