<h3>01 - Hover Links</h3>
<p>In the following section, set the color of all links to <code>red</code> when being hovered.</p>

<section>
    <div>
      <h6>Web Development</h6>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/CSS">CSS</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Sass_(style_sheet_language)">SCSS</a></li>
        <li><a href="https://en.wikipedia.org/wiki/HTML">HTML</a></li>
      </ul>
    </div>
    <div>
      <h6>TypeScript</h6>
      <ul>
        <li><a href="https://www.typescriptlang.org/">TypeScript Website</a></li>
        <li><a href="https://www.typescriptlang.org/docs/">TypeScript Docs</a></li>
        <li><a href="https://github.com/microsoft/TypeScript">TypeScript Github</a></li>
      </ul>
    </div>
</section>
