<app-exercise-page-layout>
  <h1 slot="title">CSS - Pseudo Selectors</h1>

  <app-hover-links />
  <app-first-paragraph />
  <app-visited-links />
  <app-even-list-items />
  <app-first-child />
  <app-odd-table-columns />
  <app-input-focus />
  <app-input-disabled />
  <app-no-children />
  <app-every-nth-list-item />
  <app-last-element />
  <app-third-to-last-element />
  <app-checked-inputs />
  <app-nth-element-upwards />
  <app-nth-element-downwards />
  <app-range-of-elements />
  <app-nth-element-starting-from />
</app-exercise-page-layout>
