.header {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: #bbbbbb;
  padding: 10px 20px;
  justify-content: flex-end;

  .logo {
    height: calc(100% - 20px);
    width: auto;
  }

  h2 {
    margin: 0;
    color: white;
  }
}
