<h3>03 - Exclude First Child</h3>
<p><i>Target all <code>p</code> and <code>span</code> elements and make them bold but exclude the first child inside a container using <code>:is()</code> and <code>:not()</code>.</i></p>

<section>
  <div>
    <span>First Span (Not Bold)</span>
    <span>Second Span</span>
  </div>
  <div>
    <p>First Paragraph (Not Bold)</p>
    <p>Second Paragraph</p>
  </div>
  <div>
    <span>Only Span (Not Bold)</span>
  </div>
  <div>
    <p>First Paragraph (Not Bold)</p>
    <p>Second Paragraph</p>
    <p>Third Paragraph</p>
  </div>
</section>
