<h3>02 - First Paragraph Style</h3>
<p>Make the first <code>p</code> inside any <code>section</code> have bold text.</p>

<section>
  <h6>First Section</h6>
  <p>First Paragraph of first section should be bold</p>
  <p>Second Paragraph should NOT be bold</p>
  <p>Third Paragraph should also NOT be bold</p>
</section>
<br/>
<section>
  <h6>Second Section</h6>
  <p>First Paragraph of second section should be bold</p>
  <p>Second Paragraph should NOT be bold</p>
</section>
<br/>
<section>
  <h6>Third Section</h6>
  <p>First Paragraph of third section should be bold</p>
</section>
