<h3>05 - First Child of any element</h3>
<p>Make the first child of every element inside a <code>div</code> blue.</p>

<section>
  <div>
    <strong>This is the first child</strong>
    <p>This is a paragraph inside the div.</p>
  </div>

  <div>
    <p>This is the first child (paragraph).</p>
    <p>This is another paragraph inside the div.</p>
  </div>

  <div>
    <ul>
      <li>This is the first list item (first child).</li>
      <li>This is the second list item.</li>
      <li>All list items should be blue because color from <code>ul</code> gets inherited</li>
    </ul>
  </div>
</section>
