.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}




































/* Solutions */

/*.grid-container:hover img {*/
/*  opacity: .5;*/
/*}*/

/*.grid-container img:hover {*/
/*  opacity: 1;*/
/*}*/
