<h3>03 - Positions</h3>

<p>Move the <strong>blue</strong> block 10px up and 20px to the left</p>
<p>Move the <strong>yellow</strong> block to the top left corner of its parent element</p>
<p>Move the <strong>pink</strong> block into the top right corner of the whole website</p>


<strong>Container</strong>
<div class="container">
  <strong>Parent</strong>
  <div class="parent">
    <div class="child first">1</div>
    <div class="child second">2</div>
    <div class="child third">3</div>
  </div>
</div>
