.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Remove these selectors and write them as one */
.grid-container:hover img {
  opacity: .5;
}

.grid-container img:hover {
  opacity: 1;
}

































/* Solutions */

/*.grid-container:has(img:hover) img:not(:hover) {*/
/*  opacity: .5;*/
/*}*/
