.container {
  display: flex;
  gap: 20px;

  // Replace this selector with a mixin. The styling properties stay the same
  button:hover {
    background-color: #3d3d3d;
    color: white;
  }
}







































/* Solution */

//@mixin enabled-button {
//  button:not([disabled]):hover {
//    @content
//  }
//}
//
//.container {
//  display: flex;
//  gap: 20px;
//
//  @include enabled-button {
//    background-color: #3d3d3d;
//    color: white;
//  }
//}
