.main-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 8px rgb(0 0 0 / 50%);

  .header {
    display: flex;
    width: calc(100% - 20px);
    padding: 10px;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;

    .logo {
      width: 65px;
      cursor: pointer;
    }
  }

  .menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
}
