<h3>06 - Odd Table Columns</h3>
<p>Style odd-numbered columns inside a <code>table</code> to have a light blue background.</p>

<section>
  <table>
    <tr>
      <th>Person 1</th>
      <th>Person 2</th>
      <th>Person 3</th>
      <th>Person 4</th>
      <th>Person 5</th>
      <th>Person 6</th>
    </tr>
    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Simon</td>
      <td>James</td>
      <td>Lukas</td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
      <td>13</td>
      <td>12</td>
      <td>17</td>
    </tr>
  </table>
</section>
