.grid-container {
  display: grid;
  width: 80%;
  height: 150px;
  padding: 20px;
  gap: 20px;
  border: 2px solid cornflowerblue;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;

  .grid-item {
    border: 2px solid red;
  }
}



































/* Solution */

//.grid-container {
//  display: grid;
//  width: 80%;
//  height: 150px;
//  padding: 20px;
//  gap: 20px;
//  border: 2px solid cornflowerblue;
//  grid-template-columns: repeat(2, 1fr);
//  grid-auto-rows: 150px;
//  container-type: size;
//
//  .grid-item {
//    border: 2px solid red;
//
//    @container (min-width: 500px) {
//      border-color: green;
//    }
//
//    @container (min-width: 1000px) {
//      border-color: orange;
//    }
//  }
//}
