:host {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;

  &.active {
    .label {
      text-decoration: underline;
    }
  }

  &:hover {
    .label {
      text-decoration: underline;
    }
  }

  .label {
    font-weight: 600;
  }
}
