<h3>01 - Margin Calculation</h3>
<p>
  Write and apply a function on the block/circle that calculates your margin property (top, right, bottom, left, e.g. 50px 0 0 100px).<br/>
  <strong>Block</strong> in the small container has a <code>margin-top</code> of <code>20%</code> of its height and <code>margin-left</code> of <code>40%</code> of its width.<br/>
  <strong>Circle</strong> in the big container has a <code>margin-top</code> of <code>50%</code> of its height and <code>margin-left</code> of <code>70%</code> of its width.
</p>
<br/>

<section>
  <div class="container-small">
    <div class="block"></div>
  </div>

  <div class="container-big">
    <div class="circle"></div>
  </div>
</section>
